name: tss

on:
  schedule:
    - cron: '0 13,14,15 * * *' # Runs daily at 6, 7, and 8:00 AM MST
  workflow_dispatch:           # Allows manual trigger

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install pandas numpy garminconnect PyGithub

      - name: Run tas check
        env:
          GARMIN_EMAIL: ${{ secrets.GARMIN_EMAIL }}
          GARMIN_PASSWORD: ${{ secrets.GARMIN_PASSWORD }}
          GH_PAT: ${{ secrets.GH_PAT }}
        run: python python/fix_tss.py
